header {
	height: 65px;
	background-color: #000000;
	color: #FFFFFF;
	display: flex;
	padding: 0.20px;
	text-decoration: none;
}

header > * {
	margin: auto 0;
}

header #logo {
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}

header a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 5px;
	display: inline-block;
	padding-top: 10px;
}

header #user-posts {
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
	padding-right: 20px;
}

header #user-posts > * {
	display: inline-block;
}

header #user-posts #welcome-message {
	font-size: 14px;
	padding-right: 20px;
}

a {
	text-decoration: none;
	border-radius: 4px;
}

#break {
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid white;
	margin: 30px;
	margin-left: 8%;
	width: 80%;
	text-align: center;
}

#posts-container {
	background-color: #000000;
	color: #FFFFFF;
	border: 2px solid white;
	margin-left: 18%; 
	width: 60%;
	text-align: center;
	padding: 10px;
}

li {
	border: 2px dashed white;
	width: 40%;
	margin-left: 28%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

h1 {
	font-size: 18px;
	margin: 10px;
}

form {
	text-align: left;
	margin: 10px;
	text-align: center;
}

form input[type="text"], form input[type="password"] {
	border: 1px solid white;
	font-size: 14px;
	width: 400px;
}

form input[type="text"] {
	margin: 10px;
}

form input[type="password"] {
	margin: 10px;
}

.button {
	display: inline-black;
	width: 100px;
	cursor: pointer;
	font-size: 12px;
	background-color: #000000;
	border: 1px solid white;
	text-align: center;
	color: #FFFFFF;
	padding: 5px 5px;
	border-radius: 4px;
	margin: 10px;
}	

.flash {
	text-align: center;
}

body {
	color: #000000;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFFFFF;
	background-color: #000000;
}

html, body {
	height: 100%;
}

#post {
	width: 500px;
	height: 120px;
	font-size: 20px;
	opacity: 0.6;
}

#post:hover {
	width: 500px;
	height: 120px;
	font-size: 20px;
	opacity: 0.8z;
}