<div id='user-input'>
	<form action="/posts" method="post">
		<textarea maxlength="140" id='post' type="text" name="story" placeholder="Simon says...."></textarea>
	<br>
		<input type="submit" value="post" class="button">
	</form>
</div>