<div id='posts-container'>

	<ul id='posts'>
		<% @posts.reverse.each do |post| %>
			<li><p><%= post.story %>
			<id='username'>@<%= post.user.name %></p></li></id='username'>
	<% end %>
	</ul>
	
</div>