<!DOCTYPE html>

<html>

	<head>
	
			<title>Simon Says....</title>

	  <link rel="stylesheet" type="text/css" href="/css/reset.css">
	  <link rel="stylesheet" type="text/css" href="/css/app.css">

	</head>

	<body>

	<div class='wrap'>

		<%= partial :header %>
		<%= partial :flash %>

		<div id='posts-container'></div>

		<%= yield %>

		<div class='push'></div>
	</div>
	
	</body>
	
</html>