<!DOCTYPE html>

<html>

	<head>
	
			<title>Simon Says....</title>

	  <link rel="stylesheet" type="text/css" href="/css/reset.css">
	  <link rel="stylesheet" type="text/css" href="/css/app.css">

	</head>

	<body>

	<div class='wrap'>

		<%= partial :header %>
		<%= partial :flash %>

		<div id='break'></div>

		<%= yield %>

		<div class='push'></div>
	</div>
	
	<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
	<script type='text/javascript' src='../../public/script.js'></script>

	</body>
	
</html>